<div class="container">
    {{#if info}}
        <ul class="list-group list-group-flush mt-5">
            <li class="list-group-item">Argumentos de entrada: <span class="badge badge-primary text-wrap">{{resultado.argumentos}}</span> </li>
            <li class="list-group-item">Nombre de la plataforma: <span class="badge badge-primary text-wrap">{{resultado.plataforma}}</span> </li>
            <li class="list-group-item">Versión de Node: <span class="badge badge-primary text-wrap">{{resultado.nodeVersion}}</span> </li>
            <li class="list-group-item">Uso de memoria: <span class="badge badge-primary text-wrap">{{resultado.memoriaUso}}</span> </li>
            <li class="list-group-item">Path de ejecución: <span class="badge badge-primary text-wrap">{{resultado.path}}</span></li>
            <li class="list-group-item">Process id: <span class="badge badge-primary text-wrap">{{resultado.pid}}</span> </li>
            <li class="list-group-item">Carpeta corriente: <span class="badge badge-primary text-wrap">{{resultado.carpeta}}</span></li>
            <li class="list-group-item">Número de  CPU's: <span class="badge badge-primary text-wrap">{{resultado.numCPUs}}</span></li>
        </ul>
    {{else}}
        <div class="mt-2">
            <h4 class="text-center">Formato del aleatorio => <code>aleatorio: cantidad de ocurrencias</code></h4>
            <div class="d-flex align-items-center mt-3 flex-wrap">    
                {{#each randoms}}
                    <span class="m-1 badge badge-primary text-wrap"> {{@key}}: {{this}} </span>
                {{/each}}
            </div>
        {{/if}}
            <div class="mt-2">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="alert" onclick="location.href=`{{btnAction}}`">VOLVER</button>
            </div>
        </div>
</div>